@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #197163;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column; 
    margin: 8px 0;
}

p {
    font-size: 1.15em;
}

.content {
    background-color: #FADCAC;
    color: #158467;
    border: 5px solid whitesmoke;
    padding: 1em;
    margin: 0;
    display: flex;
}

#herocopy {
    flex-direction: column;
    width: 550px;
    font-weight: bold;
}

.hero {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#maya {
    padding: 0;
    height: 265.5px;
    width: 265.5px;
    z-index: 1;
    position: relative;
    right: 150px;
}

#maya img {
    width: 265.5px;
    object-fit: contain;
}

#faves {
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    filter: invert(98%);
}

#dolphinq {
    display: flex;
    flex-direction: column;
    height: 899.3px;
    width: auto;
    background-image: url(./dolphin.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#dolphinq p {
    margin: 0.5rem 0;
    font-family: 'Alata', sans-serif;
}

#loveletter {
    flex-direction: column;
    align-items: center;
    padding: 1em 3em;
    text-align: justify;
}

#dropbtn:hover {
    cursor: pointer;
}

#ily {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ily .content {
    padding: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#ily img {
    margin: 0;
    object-fit: contain;
    width: 300px;
    border-radius: 50%
}

#ily p {
    font-family: 'Alata', sans-serif;
    font-size: 2.5em;
}

.title {
    font-family: 'Alata', sans-serif;
    font-size: 3em;
    margin: 0.5em 0;
    align-self: center;
    justify-self: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.links a {
    color: rgb(11, 66, 52);
}