@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #197163;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column; 
    margin: 8px 0;
}

.content {
    background-color: #FADCAC;
    color: #158467;
    border: 5px solid whitesmoke;
    padding: 1em;
    margin: 0;
    display: flex;
}

#herocopy {
    flex-direction: column;
    width: 500px;
}

.hero {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#maya {
    padding: 0;
    height: 265.5px;
    width: 265.5px;
    z-index: 1;
    position: relative;
    right: 150px;
}

#maya img {
    width: 265.5px;
    object-fit: contain;
}

#faves {
    flex-direction: column;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon {
    filter: invert(98%);
}

#dolphinq {
    
}

#loveletter {
    flex-direction: column;
    align-items: center;
}

.quote, .subquote, .title {
    font-family: 'Alata', sans-serif;
}

.title {
    font-size: 1.5rem;
    align-self: center;
    justify-self: center;
}